doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    include includes/_meta.pug
    +meta("404 - ろりこん.sx", "お探しのページは見つかりませんでした。", "/404.html")
    include includes/_footer.pug
    link(rel="stylesheet", href="style.css")
  body
    .container
      p.blink 404
      h1 ページが見つかりません
      p お探しのページは見つかりませんでした。
      a(href="/") トップへ戻る
      +footer
