doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="refresh" content="5;url=/")
    title ？？？
    link(rel="stylesheet" href="style.css")
  body
    .container
      h1 嘘をつくな
      p もう一度、よく考えて…
      a(href="/") すぐに戻る
      p.footer 5秒後に自動で戻ります
